---
import { SITE } from "@/siteConfig";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Content from "@/components/Content.astro";
import SeoPage from "@/components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Content />
  </main>
</BaseLayout>
